.componentWrapper {
    position: absolute;
    width: 300px;
    height: 60%;
    min-height: 60%;
    background-color: #F3F5F9;
    display: grid;
    grid-template-areas:
        "closeWrapper"
        "logoSearchWrapper"
        "logoListWrapper";
    grid-template-columns: 100%;
    grid-template-rows: 8% 12% 80%;
    z-index: 999;
    border-radius: 10px;
    border: 1px solid #00000031;
    bottom: 30px;
    left: 0;
    right: 0;
    top: 20%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    /* position: relative; 
left: 50%;
transform: translateX(-50%); */
}


.closeWrapper {
    grid-area: closeWrapper;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    padding-right: 2%;
}

.closeIconDiv {
    position: relative;
    aspect-ratio: 1/1;
    height: 70%;
    border-radius: 50%;
    background-color: #93C2FF;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
}

.closeIcon {
    position: relative;
    font-size: 13px;
    /* border: 1px solid black; */
    color: #002A9A
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {

    .componentWrapper {
        position: absolute;
        width: 85%;
        height: 60%;
        min-height: 60%;
        background-color: #f7f7f7;
        display: grid;
        grid-template-areas:
            "closeWrapper"
            "logoSearchWrapper"
            "logoListWrapper";
        grid-template-columns: 100%;
        grid-template-rows: 8% 12% 80%;
        z-index: 999;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

        /* border: 1px solid #00000031; */
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        bottom: 15%;
    }

}