.logoWrapper {
    position: relative;
    aspect-ratio: 1/1.5;
    /* border: 1px solid #000000; */
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    border-radius: 15px;
    padding-top: 10%;
}

.logoWrapperActive {
    position: relative;
    aspect-ratio: 1/1.5;
    /* border: 1px solid #000000; */
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    background-color: #A6CBFB;
    background-color: var(--box-bg-secondary);
    /* background-color: var(--box-bg-tertiary-drk); */
    border-radius: 15px;
    padding-top: 10%;

}

.logoContainer {
    position: relative;
    aspect-ratio: 1/1;
    width: 85%;
    /* height: 70%; */
    /* border: 1px solid red; */
    border-radius: 15px;
    /* border: 1px solid rgba(0, 0, 0, 0.109); */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    /* background-color: var(--box-bg-secondary-li); */
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

.logoContainerActive {
    position: relative;
    aspect-ratio: 1/1;
    width: 100%;
    /* height: 70%; */
    /* border: 1px solid red; */
    border-radius: 15px;
    border: 4px solid #00299a91;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}



.logoDiv {
    position: relative;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}


.svgStyles {
    position: relative;
    width: 70%;
    /* border: 1px solid #000; */
}

.logoLabelContainer {
    width: 85%;
    /* height: 30%; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5px;
}

.logoLabelContainer p {
    font-family: "Poppins", sans-serif;
    font-size: 11px;
    font-weight: 450;
    color: var(--primary-font-color);
}