.activityWrapperOuter {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
    margin-top: 2%;
    margin-left: 5%;
    padding-top: 0%;
    padding-bottom: 5%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.248);

}

.activityWrapperOuter::before {
    position: absolute;
    left: 7%;
    top: 0%;
    content: "";
    background-color: #7E8DA4;
    width: 1px;
    height: 98%;
    border-radius: 10px;
    z-index: 1;
}


.dateTimeTaskTypeWrapper {
    width: 100%;
    height: 70px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 20% 30% 30%;
    grid-template-rows: 40% 60%;
    grid-template-areas:
        "dateWrapper timeWrapper timeWrapper"
        "dateWrapper typeWrapper taskWrapper";
}

/* ___________________________________________ */
.dateWrapper {
    position: relative;
    grid-area: dateWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid pink; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
}

.dateWrapper::after {
    position: absolute;
    right: 15%;
    content: "";
    background-color: #002A9A;
    width: 2.5px;
    height: 80%;
    border-radius: 10px;
}

.dateContainer {
    width: 68%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.monthDiv {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 50%;
    /* border: 1px solid black; */
}

.monthDiv p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: black;
    margin: 0px;
    padding: 0px;
}


.dateDiv {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 50%;
    /* border: 1px solid black; */

}

.dateDiv p {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: #002A9A;
    margin: 0px;
    padding: 0px;
}

/* ___________________________________________ */


.timeWrapper {
    grid-area: timeWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.timeContainer {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.timeContainer p {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: black;
    margin: 0px;
    padding: 0px;
}

/* ___________________________________________ */

.typeWrapper {
    grid-area: typeWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid orange; */
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.typeContainer {
    width: 80%;
    height: 70%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* border: 1px solid black; */



}

.typeContainer p {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: black;
    margin: 0px;
    padding: 0px;
}

/* ___________________________________________ */

.taskWrapper {
    grid-area: taskWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.taskContainer {
    width: 80%;
    height: 70%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* border: 2px solid #D64339; */
    box-sizing: border-box;
}

.taskContainerBorderAdded {
    /* border: 3px solid #58bf6e9b; */
    color: #58bf6e;
}

.taskContainerBorderDeleted {
    /* border: 3px solid #d6433976; */
    color: #d64339;
}

.taskContainerBorderEdit {
    /* border: 3px solid #9dc1fae6; */
    color: #668cf4;
}

.taskContainer p {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    /* color: black; */
    margin: 0px;
    padding: 0px;
}

/* ___________________________________________ */

.innerBox {
    position: relative;
    width: 78%;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid black; */
    border-radius: 15px;
    margin-top: 8px;
    margin-right: 5.5%;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


}

.innerBox::before {
    position: absolute;
    left: 0px;
    content: "";
    background-color: #002A9A;
    width: 2.5px;
    height: 40%;
    border-radius: 10px;
}