@import "../../variable.modules.css";


.cardContainer {
  position: relative;
  width: 250px;
  height: 155px;
  aspect-ratio: 8/5 !important;
  border-radius: 8px;
  margin: 15px 15px 15px 15px;
  margin: 30px 30px 30px 30px;
  padding-left: 5px;
  display: grid;
  object-fit: contain;
  grid-template-columns: 1.5fr 1fr 1fr;
  grid-template-rows: 50px 40px 50px;
  grid-template-rows: 20% 25% 25% 25%;
  grid-template-areas:
    "buttonDiv buttonDiv buttonDiv"
    "bankName bankName cardLogo "
    "cardNo cardNo cvv"
    "user user cardExpiry";

  padding-right: 5px;
  object-fit: contain;
  /* background-color: red; */
  background-color: var(--card-bg-dark);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.075), 0 5px 5px rgba(0, 0, 0, 0.048);
  scroll-behavior: smooth;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* font-size: 16px; */
  background: linear-gradient(
    108.55deg,
    rgba(45, 87, 162, 0.8) 1.65%,
    rgba(255, 255, 255, 0) 103.23%
  );
  backdrop-filter: blur(12px);
}

.cardContainerInEditMode {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.overlayDiv {
  /* display: none; */
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent;
  bottom: 0px;
  right: 0px;
  z-index: 2;
  overflow: hidden;
  padding: 0px;
  border-radius: 8px;
}
.ring {
  position: absolute;
  width: 100px;
  aspect-ratio: 1/1;
  /* height: 200px; */
  mix-blend-mode: color;
  top: -40px;
  right: -45px;
  /* background-color: #cee6f077; */
  /* background-color: #f3f1fe; */
  background-color: var(--card-ring-color);

  border-radius: 50%;
  display: flex;
  /* display: none; */
  justify-content: center;
  align-items: center;
}
.ring::after {
  position: absolute;
  content: "";
  width: 112%;
  height: 112%;
  border-radius: 50%;
  /* border: 30px solid #cee6f044; */
  border: 30px solid var(--card-ring-after-color);

  transform: rotate(-185deg);
}
.ring div {
  width: 60%;
  height: 60%;
  background-color: var(--card-ring-div-color);
  border-radius: 50%;
}
.square {
  position: absolute;
  display: none;
  width: 100%;
  mix-blend-mode: color;
  top: 0px;
  right: 0px;
  aspect-ratio: 1/1;
  transform: rotate(0deg);

  background: hsla(198, 53%, 87%, 1);

  background: linear-gradient(
    135deg,
    hsla(198, 53%, 87%, 0.5) 0%,
    hsla(0, 0%, 100%, 1) 65%
  );

  background: -moz-linear-gradient(
    135deg,
    hsla(198, 53%, 87%, 0.5) 0%,
    hsla(0, 0%, 100%, 1) 65%
  );

  background: -webkit-linear-gradient(
    135deg,
    hsla(198, 53%, 87%, 0.5) 0%,
    hsla(0, 0%, 100%, 1) 65%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#CEE6F0", endColorstr="#FFFFFF", GradientType=1 );
}

.overlayFont {
  /* display: none; */
  position: absolute;
  color: #cee6f077;
  color: var(--card-overlay-text-color);

  font-family: "Anton", sans-serif !important;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-style: italic;
  letter-spacing: 3px;
  padding: 0px;
  font-size: 50px;
  bottom: -15px !important;
  left: 0px !important;
  margin: 0px 0px 0px 0px;
  mix-blend-mode: overlay;
}

.bankName {
  /* border: 1px solid black; */
  grid-area: bankName;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 0px 0px;
  z-index: 3;
  box-sizing: border-box;
}

.cardBankText {
  margin: 0px 0px 0px 5%;
  font-weight: bolder;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 0.5px;
  font-weight: bold !important;
  /* color: rgb(29, 29, 29); */
  color: var(--card-other-text-color);

  text-shadow: 0.5px 0.5px rgb(219, 215, 215);
  white-space: normal;
  /* font-size: clamp(0.7rem, 1.25vw, 1.5rem); */
  font-size: 1rem;
}
.cardNo {
  grid-area: cardNo;
  width: 100%;
  height: 100%;
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 0px;
  z-index: 3;
  box-sizing: border-box;
  /* font-size: clamp(0.6em, 1em, 1.2em); */
}

.cardNoText {
  margin: 0px 0px 0px 5%;
  font-weight: bolder;
  font-family: "Share Tech Mono", monospace;
  letter-spacing: 0.5px;
  font-weight: bold !important;
  color: slategray;
  color: var(--card-number-text-color);
  /* text-shadow: 0.5px 0.5px rgb(202, 202, 202); */
  padding: 0px;
  white-space: nowrap;
  font-size: 0.9rem;
}
.cardUser {
  grid-area: user;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0px 0px 0px 0px;
  z-index: 3;
  box-sizing: border-box;
}
.cardUserText {
  margin: 0px 0px 0px 5%;
  font-weight: bolder;
  font-family: "Quicksand", sans-serif;
  /* color: rgb(29, 29, 29); */
  color: var(--card-other-text-color);

  /* text-shadow: 0.5px 0.5px rgb(219, 215, 215); */
  font-size: 1rem;
}
.cardLogo {
  /* border: 1px solid blue; */
  position: relative;
  grid-area: cardLogo;
  width: 80%;
  height: 70%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  z-index: 3;
}

.cvv {
  /* border: 1px solid black; */
  grid-area: cvv;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 0px;
  padding-right: 0px;
  z-index: 3;
  box-sizing: border-box;
}
.cvvLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  font-weight: 550;
  /* font-size: 10px; */
  color: slategray;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-size: 0.7rem;
}
.cvvText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  /* color: black; */
  color: var(--card-other-text-color);

  font-family: "Share Tech Mono", monospace;
  font-weight: 600;
  /* text-shadow: 0.5px 0.5px #dadada; */
  box-sizing: border-box;
  font-size: 0.8rem;
}
.cardExpiry {
  /* border: 1px solid red; */
  grid-area: cardExpiry;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  box-sizing: border-box;
  /* font-size: 0.7rem; */
}
.expiryLabel {
  font-family: "Quicksand", sans-serif;
  font-weight: 550;
  color: slategray;
  margin: 0px 0px 0px 0px;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
  box-sizing: border-box;
  /* text-transform:lowercase; */
  font-size: 0.7rem;

  white-space: nowrap;
}

.expiryText {
  /* border: 1px solid purple; */
  width: 100%;
  height: 100%;
  width: 100%;
  height: 50%;
  margin: 0px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Share Tech Mono", monospace;
  font-weight: 700;
  /* color: black; */
  color: var(--card-other-text-color);

  /* text-shadow: 0.5px 0.5px #dadada; */
  box-sizing: border-box;
  font-size: 0.8rem;
}

.buttonDiv {
  /* border: 1px solid black; */
  position: relative;
  grid-area: buttonDiv;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  z-index: 3;
  box-sizing: border-box;
}

.favBtn {
  position: relative;
  margin: 0px;
  padding: 0px;
  background: none;
  outline: none;
  border: none;
  width: 45px;
  width: 15%;
  width: 12%;
  height: 100%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 3;
  /* border: 1px solid black; */
}

.editBtnsContainer {
  /* border: 1px solid red; */
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 30%;
  width: 24%;
  height: 100%;
  box-sizing: border-box;
}

.deleteIconDiv {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.editIconDiv {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}
.editIconDiv button {
  position: relative;
}

.cancelIconDiv {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  background: none;
}

.checkIconDiv {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  background: none;
}

.pencilIcon {
  cursor: pointer;
  height: 1.2rem;
}

.trashIcon {
  cursor: pointer;
  height: 1.2rem;
}
.favIcon {
  cursor: pointer;
  height: 1.2rem;
}

.checkIcon {
  cursor: pointer;
  height: 1.2rem;
}
.cancelIcon {
  cursor: pointer;
  height: 1.2rem;
}

.editInput {
  outline: none;
  width: 98%;
  height: 80%;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  background-color: rgba(255, 196, 1, 0.062);
  border-radius: 5px;
  margin: 0px 0px 0px 0px;
  border: 1px dashed #00b7fd;
  background: #00b5fd11;
  color: #00b7fd;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  padding: 0px 0px 0px 5%;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 0.9rem;
}
.editInput:focus {
  border: 2px solid #1072f1;
}
.expiryInput {
  outline: none;
  width: 90%;
  height: 50%;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  margin: 0px 0px 0px 0px;
  border: 1px dashed #00b7fd;
  background: #00b5fd11;
  color: #00b7fd;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 0.8rem;
}
.expiryInput:focus {
  border: 2px solid #1072f1;
}

/* ___________________________________________________________________________________________________________________*/

/* __________________________________________________________________________________________________________________ */

/* Smartphones (portrait) ----------- */
/* 0<-320 */
@media only screen and (max-width: 320px) {
  .cardContainer {
    width: 79%;
    height: auto;
    /* aspect-ratio: 8/5; */
    padding-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 5px;
    /* font-size: clamp(0.6em, 0.6em, 1.1em) !important; */
  }
  .editInput {
    font-size: 0.7rem;
    font-size: clamp(
      0.7rem,
      0.19999999999999984rem + 4.000000000000001vw,
      1rem
    ) !important;
  }
  .expiryInput {
    font-size: 0.6rem;
    font-size: clamp(
      0.6rem,
      0.26666666666666655rem + 2.6666666666666674vw,
      0.8rem
    ) !important;
  }
  .cardNoText {
    /* font-size: 0.6rem; */
    font-size: clamp(
      0.6rem,
      -0.06666666666666676rem + 5.333333333333334vw,
      1rem
    ) !important;
  }

  .cardBankText {
    font-size: 0.7rem;
    font-size: clamp(
      0.7rem,
      0.19999999999999984rem + 4.000000000000001vw,
      1rem
    ) !important;
  }
  .cardUserText {
    font-size: 0.7rem;
    font-size: clamp(
      0.7rem,
      0.19999999999999984rem + 4.000000000000001vw,
      1rem
    ) !important;
  }

  .cvvLabel {
    font-size: 0.5rem;
    font-size: clamp(
      0.5rem,
      0.33333333333333337rem + 1.333333333333333vw,
      0.6rem
    ) !important;
  }
  .cvvText {
    font-size: 0.6rem;
    font-size: clamp(
      0.6rem,
      0.26666666666666655rem + 2.6666666666666674vw,
      0.8rem
    ) !important;
  }
  .expiryLabel {
    /* font-size: clamp(0.6rem, 0.2rem + 2vw, 0.8rem) !important; */
    font-size: 0.5rem;
    font-size: clamp(
      0.5rem,
      0.33333333333333337rem + 1.333333333333333vw,
      0.6rem
    ) !important;
  }
  .expiryText {
    font-size: 0.6rem;
    font-size: clamp(
      0.6rem,
      0.26666666666666655rem + 2.6666666666666674vw,
      0.8rem
    ) !important;
  }
  .favIcon {
    /* font-size: clamp(1.4rem, 0.6rem + 4vw, 1.8rem) !important; */
    /* font-size: 1.1rem;
    font-size: 0.8rem;
    font-size: clamp(
      0.8rem,
      0.29999999999999993rem + 4.000000000000001vw,
      1.1rem
    ) !important; */
    height: 0.8rem;
    height: clamp(
      0.8rem,
      0.13333333333333353rem + 5.333333333333332vw,
      1.2rem
    ) !important;
  }
  .pencilIcon {
    /* font-size: clamp(1.1rem, 0.5rem + 3vw, 1.4rem) !important; */
    /* font-size: 0.8rem;
    font-size: clamp(
      0.8rem,
      0.29999999999999993rem + 4.000000000000001vw,
      1.1rem
    ) !important; */
    /* height: clamp(1.2rem, -0.40000000000000013rem + 8vw, 2rem) !important; */
    height: 0.8rem;
    height: clamp(
      0.8rem,
      0.13333333333333353rem + 5.333333333333332vw,
      1.2rem
    ) !important;
  }
  .trashIcon {
    /* font-size: clamp(1.1rem, 0.5rem + 3vw, 1.4rem) !important; */
    /* font-size: 1.1rem;
    font-size: 0.8rem;
    font-size: clamp(
      0.8rem,
      0.29999999999999993rem + 4.000000000000001vw,
      1.1rem
    ) !important; */

    /* height: 0.8rem; */
    height: clamp(
      0.8rem,
      0.13333333333333353rem + 5.333333333333332vw,
      1.2rem
    ) !important;
  }
  .checkIcon {
    /* font-size: clamp(1.1rem, 0.5rem + 3vw, 1.4rem) !important; */
    font-size: 1.1rem;
    font-size: 0.8rem;
    font-size: clamp(
      0.8rem,
      0.29999999999999993rem + 4.000000000000001vw,
      1.1rem
    ) !important;
  }
  .cancelIcon {
    font-size: 1.1rem;
    font-size: 0.8rem;
    font-size: clamp(
      0.8rem,
      0.29999999999999993rem + 4.000000000000001vw,
      1.1rem
    ) !important;
  }
}

/* Smartphones (portrait and landscape) ----------- */
/* 320--480 */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .cardContainer {
    width: 79%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .editInput {
    font-size: clamp(1rem, 0.4rem + 3vw, 1.3rem) !important;
  }
  .expiryInput {
    font-size: clamp(0.8rem, 0.4rem + 2vw, 1rem) !important;
  }
  .cardNoText {
    font-size: clamp(1rem, 0.4rem + 3vw, 1.3rem) !important;
  }

  .cardBankText {
    font-size: clamp(1rem, 0.4rem + 3vw, 1.3rem) !important;
  }
  .cardUserText {
    font-size: clamp(1rem, 0.4rem + 3vw, 1.3rem) !important;
  }

  .cvvLabel {
    font-size: clamp(0.6rem, 0.2rem + 2vw, 0.8rem) !important;
  }
  .cvvText {
    font-size: clamp(0.8rem, 0.4rem + 2vw, 1rem) !important;
  }
  .expiryLabel {
    font-size: clamp(0.6rem, 0.2rem + 2vw, 0.8rem) !important;
  }
  .expiryText {
    font-size: clamp(0.8rem, 0.4rem + 2vw, 1rem) !important;
  }
  .favIcon {
    height: clamp(
      1.1rem,
      0.30000000000000027rem + 3.9999999999999996vw,
      1.5rem
    ) !important;
  }
  .pencilIcon {
    height: clamp(
      1.1rem,
      0.30000000000000027rem + 3.9999999999999996vw,
      1.5rem
    ) !important;
  }
  .trashIcon {
    height: clamp(
      1.1rem,
      0.30000000000000027rem + 3.9999999999999996vw,
      1.5rem
    ) !important;
  }
  .checkIcon {
    height: clamp(
      1.1rem,
      0.30000000000000027rem + 3.9999999999999996vw,
      1.5rem
    ) !important;
  }
  .cancelIcon {
    height: clamp(
      1.1rem,
      0.30000000000000027rem + 3.9999999999999996vw,
      1.5rem
    ) !important;
  }
}

/* iPads (portrait and landscape) ----------- */
/* 768--1024 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* iPads (landscape) ----------- */
/* 768--1024 landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
}

/* iPads (portrait) ----------- */
/* 768--1024 portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
}
/* iPhone 5 (portrait & landscape)----------- */
/* 320--568 */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
}

/* iPhone 5 (landscape)----------- */
/* 320-568  landscape*/
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
}

/* iPhone 5 (portrait)----------- */
/* 320-568 portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
}

/* Desktops and laptops ----------- */
/* <-1224 */
@media only screen and (min-width: 1224px) {
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
}

/* ____________________________________________________ */
/* _____________________________________________________ */
/* _____________________________________________________ */
