.SetttingsComponent {
    grid-area: SetttingsComponent;
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    grid-template-areas:
        "profilePicSection profileFromSection";
    box-sizing: border-box;
}

.profilePicSection {
    grid-area: profilePicSection;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 20% 70%;
    grid-template-areas:
        "headingWrapper"
        "profilePicWrapper"
        "joinedUpdateDateWrapper";
    box-sizing: border-box;
}

.headingWrapper {
    grid-area: headingWrapper;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}

.headingContainer {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 1px solid red; */
    padding-left: 0px;
    padding-top: 10%;
}

.headingDiv {
    position: relative;
    margin-top: 0%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid blue; */
}

.headingDiv::after {
    content: "";
    position: absolute;
    background-color: var(--section-heading-underline);
    width: 40px;
    height: 3px;
    bottom: -8px;
    left: 0px;
    border-radius: 10px;
}

.backBtnDiv {
    margin-left: 5%;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

.backBtnIcon {
    font-size: 30px;
    color: var(--primary-font-color);
}

.headingDiv p {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: var(--bolder-font);
    color: var(--primary-font-color);
}

/* _______________________________________________ */
.profilePicWrapper {
    position: relative;
    grid-area: profilePicWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.profilePicformTag {
    position: relative;
    width: 80%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.profilePicContainer {
    position: relative;
    aspect-ratio: 1/1;
    height: 80%;
    color: var(--box-bg-primary);
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(94, 118, 184);
}

.spinner {
    position: absolute;
    /* border: 1px solid black; */
}

.profilePicContainer img {
    position: relative;
    width: 85%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: contain;
    width: 90%;
    height: 90%;
}

label {
    position: relative;
    position: relative;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: contain;
    /* width: 90%; */
    /* height: 90%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* border: 1px solid #002A9A; */
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.imgFileInput {
    outline: none;
    background: none;
    /* width: 100%; */
    /* height: 100%; */
    /* border: 1px solid black; */
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
}

.imgFileInput::-webkit-file-upload-button {
    visibility: hidden;
    width: 0px;
    /* background: #071a52; */
    font-family: "Poppins", sans-serif;
    /* color: var(--primary-font-color); */
    font-size: 13px;
    border-radius: 5px;
    background-color: #dae5eb;
}

.profilePicformTagEditMode {
    border: 3px solid #00299a86;
}

.profilePicEditBtnContainer {
    width: 20%;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 15%;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.iconDivEdit {
    width: 70%;
    aspect-ratio: 1/1;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9DC1FA;
    border-radius: 50%;
}

.iconDivCancel {
    width: 70%;
    aspect-ratio: 1/1;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B4B3BA;
    border-radius: 50%;
    margin-bottom: 50%;
}

.iconDivSave {
    width: 70%;
    aspect-ratio: 1/1;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #58BF6F;
    border-radius: 50%;
}

.profilePicSaveIcon {
    font-size: 13px;
    color: white;
}

.profilePicCancelIcon {
    font-size: 13px;
    color: white;
}

.profilePicEditIcon {
    font-size: 13px;
    color: #002A9A;
}



/* _______________________________________________ */

.joinedUpdateDateWrapper {
    position: relative;
    grid-area: joinedUpdateDateWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.joinedUpadateDateContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 20%;
    /* border: 1px solid red; */
    padding: 0px;
}

.joinedUpadateDateContainer::after {
    content: "";
    position: absolute;
    background-color: var(--section-heading-underline);
    width: 3px;
    height: 90%;
    left: -4%;
    top: 0px;
    border-radius: 10px;
}

.joinedDateDiv {
    width: 100%;
    height: 50%;
    /* border: 1px solid black; */
}

.updatedDateDiv {
    width: 100%;
    height: 50%;
    /* border: 1px solid black; */
}

.labelText {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: var(--bolder-font);
    color: var(--secondary-font-color);
}

.dateText {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: var(--bolder-font);
    color: var(--primary-font-color);
}

.profileFromSection {
    grid-area: profileFromSection;
    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
}


/* ___________________________________________________________ */

.profileFromSection {
    grid-area: profileFromSection;
    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--box-bg-primary);
    box-sizing: border-box;
    padding-left: 5%;
}

.formWrapper {
    width: 70%;
    height: 80%;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 25% 35%;
    grid-template-rows: 5% 40% 20% 35%;
    grid-template-areas:
        "formMessageWrapper"
        "profileNameWrapper"
        "profilePassWrapper"
        "profileDeleteWrapper";
    box-sizing: border-box;
    grid-gap: 2px;
}



/* ________________________________________________________________- */


.formMessageWrapper {
    grid: formMessageWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.messageDiv {
    width: auto;
    max-width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 6px;
    padding: 1% 4% 1% 4%;
    /* margin-top: 3%; */
}

.messageDivError {
    background-color: #FCCED1;
}

.messageDivError p {
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    font-weight: 550;
    color: #F3212D;
    white-space: nowrap;
}

.warningIcon {
    font-size: 13px;
    color: #C5565D;
    padding: 0px;
    margin: 0px;
}

.messageDivSuccess {
    background-color: #BAFFB4;
}

.messageDivSuccess p {
    font-family: "Poppins", sans-serif;
    font-size: 10.5px;
    font-weight: 550;
    color: #38c62b;
}

/* .messageDiv p {} */
.errorMessageIconDiv {
    width: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    margin-right: 5px;
}



/* ----------------------------------------------------- */
.profileNameWrapper {
    grid-area: profileNameWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid orange; */
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 30% 30% 20%;
    grid-template-areas:
        "profileHeadingContainer profileHeadingContainer"
        "profileFirstNameContainer profileLastNameContainer "
        "profileEmailNameContainer profileEmailNameContainer"
        "profileEditBtnContainer profileEditBtnContainer";
    box-sizing: border-box;
    color: var(--box-bg-primary);
}

.profileHeadingContainer {
    grid-area: profileHeadingContainer;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

/* ______________________________________________________________ */

.formBtnSave {
    width: auto;
    height: auto;
    background-color: #58BF6F;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

}

.formBtnCancel {
    width: auto;
    height: auto;
    background-color: #B4B3BA;
    border-radius: 5px;
    border: none;
    outline: none;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 5%;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.formBtnEdit {
    width: auto;
    height: auto;
    background-color: var(--submit-btn-color);
    border-radius: 6px;
    border: none;
    outline: none;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border: 1px solid red; */
    /* transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); */
}

.btnText {
    font-family: "Poppins", sans-serif;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

/* ______________________________________________________________ */

.profileFirstNameContainer {
    grid-area: profileFirstNameContainer;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profileFirstNameDiv {
    width: 90%;
    height: 80%;
    /* border: 1px solid black; */
    background-color: var(--box-bg-tertiary);
    border-radius: 10px;
}

.labelDiv {
    width: 100%;
    height: 50%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding-left: 5%;
}

.labelDiv p {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: var(--bolder-font);
    color: var(--secondary-font-color);
}

.inputDiv {
    width: 100%;
    height: 50%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
}

.inputDiv input {
    width: 80%;
    height: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.16); */
    border-bottom: none;
    background: none;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: var(--bolder-font);
    color: var(--primary-font-color);
    outline: none;
}



.profileLastNameContainer {
    grid-area: profileLastNameContainer;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profileLastNameDiv {
    width: 90%;
    height: 80%;
    /* border: 1px solid black; */
    background-color: var(--box-bg-tertiary);
    border-radius: 10px;
}

.profileEmailNameContainer {
    grid-area: profileEmailNameContainer;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profileEmailNameDiv {
    width: 95%;
    height: 80%;
    /* border: 1px solid black; */
    background-color: var(--box-bg-tertiary);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.profileEditBtnContainer {
    grid-area: profileEditBtnContainer;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



/* ________________________________________________________________- */


.profilePassWrapper {
    grid-area: profilePassWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: var(--box-bg-primary);
}

/* formSectionHeadingDiv */

.passHeadingContainer {
    grid-area: passHeadingContainer;
    width: 100%;
    height: 33%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1%;

}


.passFieldWrapperClose {
    width: 100%;
    height: 0%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid red; */
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.passFieldWrapperOpen {
    width: 100%;
    height: 33%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid red; */
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.passOldInputContainer {
    grid-area: passOldInputContainer;
    width: 45%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--box-bg-tertiary);
    border-radius: 10px;
    /* transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); */
    margin-right: 2%;
}

.passNewInputContainer {
    grid-area: passNewInputContainer;
    width: 45%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--box-bg-tertiary);
    border-radius: 10px;
    /* transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); */
}

.passChangeBtnContainer {
    grid-area: passChangeBtnContainer;
    width: 100%;
    /* height: 100%; */
    height: 25%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1%;
}


/* ________________________________________________________________- */

.profileDeleteWrapper {
    grid-area: profileDeleteWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas:
        "deleteHeadingContainer"
        "deleteMsgContainer"
        "deleteBtnContainer";
    box-sizing: border-box;
    color: var(--box-bg-primary);

}

.deleteHeadingContainer {
    grid-area: deleteHeadingContainer;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 1%;
}

.deleteMsgContainer {
    grid-area: deleteMsgContainer;
    width: 100%;
    height: 90%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.text1Container {
    width: 100%;
    height: 33%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.text1Container p {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: var(--bolder-font);
    color: #C5565D;
    /* color: var(--red--color); */
    letter-spacing: 0px;
}



.text2Container {
    width: 100%;
    height: 33%;
    /* border: 1px solid black; */
    word-wrap: break-word;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.text2Container p {
    width: 85%;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: var(--bolder-font);
    color: var(--primary-font-color);
    letter-spacing: 0px;
}

.text3Container {
    width: 100%;
    height: 33%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.text3Container p {
    width: 85%;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: var(--bolder-font);
    color: var(--primary-font-color);
    letter-spacing: 0px;
}

.textIconDiv {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid black; */
    padding-right: 3%;
}

.text1Icon {
    font-size: 20px;
    color: #C5565D;
}

.dotIcon {
    font-size: 20px;
    color: var(--tertiary-font-color);

}

.deleteBtnContainer {
    grid-area: deleteBtnContainer;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.focusFieldStyle {
    border: 2px solid var(--section-heading-underline);
}

.formSectionHeadingDiv {
    position: relative;
    width: 80%;
    width: auto;
    height: 90%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.formSectionHeadingDiv p {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: var(--boldest-font);
    color: var(--primary-font-color);
}

.formSectionHeadingDiv::after {
    content: "";
    position: absolute;
    background-color: var(--section-heading-underline);
    width: 40px;
    height: 3px;
    bottom: 0px;
    left: 0px;
    border-radius: 10px;
}

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {


    .SetttingsComponent {
        grid-area: SetttingsComponent;
        position: relative;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% 80%;
        grid-template-areas:
            "profilePicSection"
            "profileFromSection";
        box-sizing: border-box;

    }

    .profilePicSection {
        grid-area: profilePicSection;
        width: 100%;
        height: 100%;
        /* border: 1px solid red; */
        display: grid;
        grid-template-rows: 30% 70%;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            "headingWrapper headingWrapper"
            "profilePicWrapper joinedUpdateDateWrapper";
        box-sizing: border-box;
    }

    .headingWrapper {
        grid-area: headingWrapper;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        /* border: 1px solid black; */
    }

    .headingContainer {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        /* border: 1px solid red; */
        padding-left: 0px;
        padding: unset;
        margin: unset;
    }

    .backBtnDiv {
        margin: 0px;
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid black; */
    }

    .headingDiv {
        position: relative;
        width: 90%;
        height: 100%;
        /* border: 1px solid blue; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0px;
    }

    .headingDiv::after {
        content: "";
        position: absolute;
        width: 40px;
        height: 3px;
        bottom: 0px;
        left: 0px;
        border-radius: 10px;
    }


    .backBtnIcon {
        font-size: 32px;
    }

    .headingDiv p {
        font-size: 22px;
        font-weight: var(--bolder-font);
        margin: 0px;
    }

    /* _________________________________________________ */
    .profilePicWrapper {
        grid-area: profilePicWrapper;
        position: relative;
        width: 100%;
        height: 100%;
        /* border: 1px solid black; */
    }


    .profilePicformTag {
        position: relative;
        width: 80%;
        height: 100%;
        /* border: 1px solid red; */
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }


    .profilePicContainer {
        position: relative;
        aspect-ratio: 1/1;
        height: 80%;
        /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid orange; */
    }

    .spinner {
        position: absolute;
        /* border: 1px solid black; */
    }

    .profilePicContainer img {
        position: relative;
        width: 85%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        object-fit: contain;
        width: 90%;
        height: 90%;
    }

    label {
        position: relative;
        position: relative;
        height: 100%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        object-fit: contain;
        /* width: 90%; */
        /* height: 90%; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        /* border: 1px solid #002A9A; */
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }


    .imgFileInput {
        outline: none;
        background: none;
        /* width: 100%; */
        /* height: 100%; */
        /* border: 1px solid black; */
        display: none;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin: 0px 0px 0px 0px;
        cursor: pointer;
    }

    .imgFileInput::-webkit-file-upload-button {
        visibility: hidden;
        width: 0px;
        /* background: #071a52; */
        /* color: var(--primary-font-color); */
        font-size: 13px;
        border-radius: 5px;
    }

    .profilePicformTagEditMode {
        border: 3px solid #00299a86;
    }

    .profilePicEditBtnContainer {
        width: 20%;
        height: 100%;
        /* border: 1px solid blue; */
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        box-sizing: border-box;
        padding-bottom: 15%;
        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .iconDivEdit {
        width: 70%;
        aspect-ratio: 1/1;
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .iconDivCancel {
        width: 70%;
        aspect-ratio: 1/1;
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-bottom: 50%;
    }

    .iconDivSave {
        width: 70%;
        aspect-ratio: 1/1;
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .profilePicSaveIcon {
        font-size: 13px;
    }

    .profilePicCancelIcon {
        font-size: 13px;
    }

    .profilePicEditIcon {
        font-size: 13px;
    }

    /* _____________________________________________________________________ */
    .joinedUpdateDateWrapper {
        grid-area: joinedUpdateDateWrapper;
        width: 100%;
        height: 100%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .joinedUpadateDateContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 70%;
        /* border: 1px solid red; */
    }

    .joinedUpadateDateContainer::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 100%;
        left: -5%;
        top: 0px;
        border-radius: 10px;
    }

    .joinedDateDiv {
        width: 100%;
        height: 40%;
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 2%;
    }

    .labelText {
        font-size: 14px;
        font-weight: var(--bolder-font);
    }

    .updatedDateDiv {
        width: 100%;
        height: 40%;
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 2%;
    }

    .dateText {
        font-size: 13px;
        font-weight: var(--bolder-font);
    }

    .profileFromSection {
        grid-area: profileFromSection;
        width: 100%;
        height: 100%;
        /* border: 1px solid blue; */
    }


    /* ___________________________________ */

    .profileFromSection {
        grid-area: profileFromSection;
        width: 100%;
        height: 100%;
        /* border: 1px solid blue; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .formWrapper {
        width: 85%;
        height: 100%;
        /* border: 1px solid black; */
        display: grid;
        grid-template-columns: 100%;
        /* grid-template-rows: 40% 25% 35%; */
        grid-template-rows: 5% 40% 20% 35%;
        /* grid-template-rows: 5% 35% 25% 35%; */
        grid-template-rows: 5% 37% 25% 32%;
        grid-template-areas:
            "formMessageWrapper"
            "profileNameWrapper"
            "profilePassWrapper"
            "profileDeleteWrapper";
        box-sizing: border-box;
        grid-gap: unset;
    }

    .formMessageWrapper {
        grid: formMessageWrapper;
        width: 100%;
        height: 100%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .messageDiv {
        width: 100%;
        max-width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-radius: 6px;
        padding: 1% 4% 1% 4%;
        /* margin-top: 3%; */
        /* overflow-x: scroll; */
        overflow: hidden;
    }


    .messageDivError p {
        width: 50%;
        font-size: 10.5px;
        font-weight: 550;
        width: 90%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }



    .messageDivSuccess p {
        font-size: 10.5px;
        font-weight: 550;
    }

    /* .messageDiv p {} */
    .errorMessageIconDiv {
        width: 20px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid black; */
        margin-right: 5px;
    }

    .warningIcon {
        font-size: 15px !;
        padding: 0px;
        margin: 0px;
    }

    /* ________________________________________________________________- */

    .profileNameWrapper {
        grid-area: profileNameWrapper;
        width: 100%;
        height: 100%;
        /* border: 1px solid orange; */
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 20% 30% 30% 20%;
        grid-template-areas:
            "profileHeadingContainer profileHeadingContainer"
            "profileFirstNameContainer profileLastNameContainer "
            "profileEmailNameContainer profileEmailNameContainer"
            "profileEditBtnContainer profileEditBtnContainer";
        box-sizing: border-box;
    }

    .profileHeadingContainer {
        grid-area: profileHeadingContainer;
        width: 100%;
        height: 100%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    /* ______________________________________________________________ */

    .formSectionHeadingDiv {
        position: relative;
        width: 80%;
        width: auto;
        height: 90%;
        /* border: 1px solid blue; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-right: 2%;
    }

    .formSectionHeadingDiv p {
        font-size: 17px;
        font-weight: var(--boldest-font);
    }

    .formSectionHeadingDiv::after {
        content: "";
        position: absolute;
        width: 40px;
        height: 3px;
        bottom: 0px;
        left: 0px;
        border-radius: 10px;
    }

    .formBtnSave {
        width: auto;
        height: auto;
        height: 30px;
        border-radius: 5px;
        border: none;
        outline: none;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-top: 2%;
        padding-bottom: 2%;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .formBtnCancel {
        width: auto;
        height: auto;
        border-radius: 5px;
        border: none;
        outline: none;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-top: 2%;
        padding-bottom: 2%;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: 5%;
        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .formBtnEdit {
        width: auto;
        height: auto;
        border-radius: 6px;
        border: none;
        outline: none;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 2%;
        padding-bottom: 2%;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        /* transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); */
    }


    /* ______________________________________________________________ */

    .profileFirstNameContainer {
        grid-area: profileFirstNameContainer;
        width: 100%;
        height: 100%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .profileFirstNameDiv {
        width: 90%;
        height: 80%;
        border-radius: 10px;

    }

    .labelDiv {
        width: 100%;
        height: 50%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        box-sizing: border-box;
        padding-left: 5%;
    }

    .labelDiv p {
        font-size: 13px;
        font-weight: var(--bolder-font);
        color: var(--secondary-font-color);
    }


    .inputDiv {
        width: 100%;
        height: 50%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 5%;
    }

    .inputDiv input {
        width: 80%;
        height: 100%;
        border-left: none;
        border-right: none;
        border-top: none;
        /* border-bottom: 1px solid rgba(0, 0, 0, 0.16); */
        border-bottom: none;
        background: none;
        font-size: 13px;
        font-weight: var(--bolder-font);
        color: var(--primary-font-color);
        background: none;
    }

    input::placeholder {
        font-size: 11px;
        font-weight: 450;
        color: var(--box-bg-secondary-li);
        text-align: center;
    }


    .profileLastNameContainer {
        grid-area: profileLastNameContainer;
        width: 100%;
        height: 100%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }

    .profileLastNameDiv {
        width: 90%;
        height: 80%;
        /* border: 1px solid black; */
        border-radius: 10px;

    }

    .profileEmailNameContainer {
        grid-area: profileEmailNameContainer;
        width: 100%;
        height: 100%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .profileEmailNameDiv {
        width: 95%;
        height: 80%;
        /* border: 1px solid black; */
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .profileEditBtnContainer {
        grid-area: profileEditBtnContainer;
        width: 100%;
        height: 100%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    /* ________________________________________________________________- */

    .profilePassWrapper {
        grid-area: profilePassWrapper;
        width: 100%;
        height: 100%;
        /* border: 1px solid blue; */
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    .passHeadingContainer {
        grid-area: passHeadingContainer;
        width: 100%;
        height: 33%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 1%;

    }

    .passFieldWrapperClose {
        width: 100%;
        height: 0%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* border: 1px solid red; */
        overflow: hidden;
        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
        opacity: 0;
    }

    .passFieldWrapperOpen {
        width: 100%;
        height: 33%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* border: 1px solid red; */
        overflow: hidden;
        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .passOldInputContainer {
        grid-area: passOldInputContainer;
        width: 45%;
        height: 100%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        /* transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); */
        margin-right: 2%;

    }

    .passNewInputContainer {
        grid-area: passNewInputContainer;
        width: 45%;
        height: 100%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        /* transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); */
    }

    .passChangeBtnContainer {
        grid-area: passChangeBtnContainer;
        width: 100%;
        /* height: 100%; */
        height: 25%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 1%;
    }


    /* ________________________________________________________________- */

    .profileDeleteWrapper {
        grid-area: profileDeleteWrapper;
        width: 100%;
        height: 100%;
        /* border: 1px solid red; */
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20% 60% 20%;
        grid-template-areas:
            "deleteHeadingContainer"
            "deleteMsgContainer"
            "deleteBtnContainer";
        box-sizing: border-box;

    }

    .deleteHeadingContainer {
        grid-area: deleteHeadingContainer;
        width: 100%;
        height: 100%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding-bottom: 1%;
    }

    .deleteMsgContainer {
        grid-area: deleteMsgContainer;
        width: 100%;
        height: 90%;
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2%;
    }

    .text1Container {
        width: 100%;
        height: 33%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .text1Container p {
        font-size: 15px;
        font-weight: var(--bolder-font);
        letter-spacing: 0px;
    }


    .text2Container {
        width: 100%;
        height: 33%;
        /* border: 1px solid black; */
        word-wrap: break-word;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .text2Container p {
        width: 85%;
        font-size: 12px;
        font-weight: var(--bolder-font);
        letter-spacing: 0px;
    }

    .text3Container {
        width: 100%;
        height: 33%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .text3Container p {
        width: 85%;
        font-size: 12px;
        font-weight: var(--bolder-font);
        letter-spacing: 0px;

    }



    .textIconDiv {
        width: auto;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* border: 1px solid black; */
        padding-right: 3%;
    }

    .text1Icon {
        font-size: 20px;
    }

    .dotIcon {
        font-size: 20px;
    }


    .deleteBtnContainer {
        grid-area: deleteBtnContainer;
        width: 100%;
        height: 100%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }



    /* ________________________________________________________________- */

}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

    /* _________________________________________________ */
    .profilePicWrapper {
        grid-area: profilePicWrapper;
        position: relative;
        width: 100%;
        height: 100%;
        /* border: 1px solid black; */
    }


    .profilePicformTag {
        position: relative;
        width: 80%;
        height: 100%;
        /* border: 1px solid red; */
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }


    .profilePicContainer {
        position: relative;
        width: 70%;
        aspect-ratio: 1/1;
        height: unset;
        color: var(--box-bg-primary);
        /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid orange; */
    }

    .spinner {
        position: absolute;
        /* border: 1px solid black; */
    }

    .profilePicContainer img {
        position: relative;
        width: 85%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        object-fit: contain;
        width: 90%;
        height: 90%;
    }

    label {
        position: relative;
        position: relative;
        height: 100%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        object-fit: contain;
        /* width: 90%; */
        /* height: 90%; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        /* border: 1px solid #002A9A; */
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }


    .imgFileInput {
        outline: none;
        background: none;
        /* width: 100%; */
        /* height: 100%; */
        /* border: 1px solid black; */
        display: none;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin: 0px 0px 0px 0px;
        cursor: pointer;
    }

    .imgFileInput::-webkit-file-upload-button {
        visibility: hidden;
        width: 0px;
        /* background: #071a52; */
        font-family: "Poppins", sans-serif;
        /* color: var(--primary-font-color); */
        font-size: 13px;
        border-radius: 5px;
    }

    .profilePicformTagEditMode {
        border: 3px solid #00299a86;
    }

    .profilePicEditBtnContainer {
        width: 20%;
        height: 100%;
        /* border: 1px solid blue; */
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        box-sizing: border-box;
        padding-bottom: 25%;
        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .iconDivEdit {
        width: 70%;
        aspect-ratio: 1/1;
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .iconDivCancel {
        width: 70%;
        aspect-ratio: 1/1;
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-bottom: 50%;
    }

    .iconDivSave {
        width: 70%;
        aspect-ratio: 1/1;
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .profilePicSaveIcon {
        font-size: 13px;
    }

    .profilePicCancelIcon {
        font-size: 13px;
    }

    .profilePicEditIcon {
        font-size: 13px;
    }

    /* _____________________________________________________________________ */


}