@import "../../variable.modules.css";

.loginInWrapper {
  position: relative;
  display: grid;
  grid-template-columns: 80px minmax(0, 1fr) minmax(0, 0.2fr);
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-areas:
    "logoWrapper titleWrapper favBtnWrapper"
    "logoWrapper usernameWrapper favBtnWrapper";
  align-items: center;
  width: 280px;
  height: 75px;
  aspect-ratio: 3.73/1 !important;
  border-radius: 0.9rem;
  margin: 15px 15px 15px 15px;
  background-color: var(--box-bg-primary);
  box-shadow: var(--list-wrapper-box-shadow);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  cursor: pointer;
  /* border: 1px solid red; */
}

.loginInWrapperFocus {
  border: 3px solid var(--ui-scheme-color);
  box-sizing: content-box;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: logoWrapper;
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
}


.logoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid rgba(128, 128, 128, 0.543); */
  width: 80%;
  height: 80%;
  border-radius: 10px;
  background-color: #D6D6D6;
  background-color: #e8e8e4;
  /* background-color: white; */
  background-color: var(--logo-div-bg);
  /* background-color: var(--box-bg-tertiary); */
}

.titleWrapper {
  grid-area: titleWrapper;
  /* border: 1px solid black; */
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 5%;
  overflow: hidden;

}

.titleText {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: var(--bolder-font);
  color: var(--primary-font-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.usernameWrapper {
  grid-area: usernameWrapper;
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;

}

.userNameText {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: var(--bolder-font);
  color: var(--secondary-font-color);
}

.favBtnWrapper {
  grid-area: favBtnWrapper;
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favBtnDiv {
  width: 60%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {


  .loginInWrapper {
    position: relative;
    display: grid;
    grid-template-columns: 80px minmax(0, 1fr) minmax(0, 0.2fr);
    grid-template-columns: 25% minmax(0, 1fr) minmax(0, 0.2fr);
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-areas:
      "logoWrapper titleWrapper favBtnWrapper"
      "logoWrapper usernameWrapper favBtnWrapper";
    width: 83% !important;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red; */
    padding: 0%;
    margin: 0.80rem auto 0.80rem auto;
    border-radius: 18px;


  }

  .logoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: logoWrapper;
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
  }

  .logoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgba(128, 128, 128, 0.543); */
    width: 85%;
    height: 85%;
    border-radius: 10px;
    border-radius: 13px;

  }


  /* > clamping for all font sizes */

  .titleText {
    /* font-size: clamp(0.85rem, 0.15rem + 3.5vw, 1.2rem) !important; */
    font-size: 1rem;
    font-weight: var(--bolder-font);
  }

  .userNameText {
    /* font-size: clamp(0.81rem, 0.23rem + 2.9vw, 1.1rem) !important; */
    font-size: 0.88rem;
    font-weight: 450;
  }


}