.dashboardComponent {
  width: 100%;
  height: 100%;

  /* border: 1px solid red; */
  /* background-color: #dae5eb; */
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  align-items: center;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  /* overflow-y: scroll; */
  /* border-radius: 10px 10px 10px 10px; */
  /* background-color: #f4fff9; */
  box-sizing: border-box;
  padding-left: 20px;
  padding-bottom: 20px;
}

.dashboardComponent::-webkit-scrollbar {
  display: none;
}

.countWrapper {
  width: 99%;
  height: 100px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0px 0px 20px 0px;
  box-sizing: border-box;
}

.countContainer {
  width: 90px;
  height: 100px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0px 5px 0px 5px;
}

.countDiv {
  position: relative;
  width: 100%;
  height: 70px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  /* align-items: flex-end; */
  /* text-align: end; */
}
.countDiv p {
  position: absolute;
  bottom: -10px;
  left: 0px;
  /* right: 10px; */
  font-family: "Quicksand", sans-serif;
  color: rgb(53, 52, 52);
  font-weight: 650;
  color: var(--dashboard-count-text);
  font-size: 55px;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}
.footer {
  position: relative;
  width: 100%;
  height: 30px;
  /* border: 1px solid black; */
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* align-items: center; */
  padding-left: 5px;
  box-sizing: border-box;
}

.footer p {
  /* position: absolute; */
  /* width: 100%; */
  bottom: -10px;
  left: 5px;
  margin: 0px 0px 0px 0px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: #9baece;
  color: var(--dashboard-footer-text);
  font-size: 25px;
  /* border: 1px solid black; */
  padding: 0px;
}
.underLineDiv1 {
  position: absolute;
  left: 6%;
  height: 4px;
  width: 25px;
  /* border-bottom: 4px solid #f56e28; */
  box-sizing: border-box;
  /* border: 1px solid black; */
  bottom: -8px;
  background-color: #f56e28;
  border-radius: 50px;
}
.underLineDiv2 {
  position: absolute;
  left: 6%;
  height: 4px;
  width: 25px;
  /* border-bottom: 4px solid #453df1; */
  box-sizing: border-box;
  /* border: 1px solid black; */
  bottom: -8px;
  background-color: #453df1;
  border-radius: 50px;
}

.underLineDiv3 {
  position: absolute;
  height: 4px;
  left: 6%;
  width: 25px;
  /* border-bottom: 4px solid #00b7fd; */
  box-sizing: border-box;
  /* border: 1px solid black; */
  bottom: -8px;
  background-color: #00b7fd;
  border-radius: 50px;
}

.recentActivityListHeadingDiv {
  width: 99%;
  height: 10%;
  border-bottom: 1px solid #00b7fd;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.recentActivityListHeadingDiv p {
  margin: 0px 0px 2px 10px;
  font-family: "Nunito", sans-serif;
  font-family: "Quicksand", sans-serif;
  font-weight: 650;
  font-size: 20px;
  color: var(--activity-heading-text);
}
.recentActivityList {
  width: 100%;
  height: 60%;
  /* border: 1px solid black; */

  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* background-color: rgb(136, 182, 182); */
  z-index: 3;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 20px 0px 20px 0px;
}

.recentActivityList::-webkit-scrollbar {
  background-color: #fff;
  height: 4px;
  width: 5px;
}
.recentActivityList::-webkit-scrollbar-track {
  background-color: rgb(231, 228, 228);
  width: 2px;
}
.recentActivityList::-webkit-scrollbar-thumb {
  background-color: #4cd7f6;
  border-radius: 4px;
}
.recentItemWrapper {
  height: 100px;
  width: 100%;
  /* border-bottom: 1px solid rgb(58, 165, 228); */
  /* border-top: 1px solid rgb(58, 165, 228); */
  /* border-bottom: 1px solid #4cd7f6; */

  margin: 10px auto 10px auto;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(68, 61, 61, 0.24); */

  /* background: white; */
  /* border: 1px solid rgb(184, 183, 183);/ */
}
.recentItemContainer {
  width: 70%;
  /* max-width: 500px; */
  height: 90px;
  /* min-height: 50px; */
  /* border: 1px solid black; */
  background-color: #ffffff71;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; */
  display: grid;
  grid-template-columns: 50px 80px 65px 100%;
  grid-template-rows: 30px 30px 30px;
  border-radius: 10px;
  grid-template-areas:
    " logo task type date  date"
    " logo name  name name  name"
    " logo item  item item  item";

  /* backdrop-filter: blur(4px); */
  /* -webkit-backdrop-filter: blur(4px); */
  margin: 0px 0px 0px 5px;
}
/* */
.logo {
  grid-area: logo;
  width: 100%;
  width: 100%;
  /* border: 1px solid lightgray; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo div {
  width: 90%;
  height: 90%;
  /* border: 1px solid rgba(211, 211, 211, 0.39); */
  /* border: 1px solid rgba(133, 133, 133, 0.39); */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  /* background: transparent; */
  /* background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18); */
  /* border: 1px solid #4cd7f646; */
}
.task {
  grid-area: task;
  width: 100%;
  width: 100%;
  /* border: 1px solid black; */
  /* border-bottom: 1px solid lightgray; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.task div {
  height: 20px;
  width: 90%;
  border: 1px solid rgb(185, 182, 182);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 0px 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  /* border: 1px solid #4cd7f646; */
}

.taskAdded {
  font-family: "Nunito", sans-serif;
  font-family: "Quicksand", sans-serif;

  margin: 0px 0px 0px 0px;
  font-size: 12.5px;
  /* font-weight: 650; */
  color: #34c759;
  letter-spacing: 0.2px !important;
  -webkit-text-stroke: 0.015em;
}

.taskDeleted {
  font-family: "Nunito", sans-serif;
  font-family: "Quicksand", sans-serif;

  margin: 0px 0px 0px 0px;
  font-size: 12.5px;
  /* font-weight: 650; */
  color: red;
  -webkit-text-stroke: 0.015em;
}

.taskEdited {
  font-family: "Nunito", sans-serif;
  font-family: "Quicksand", sans-serif;

  margin: 0px 0px 0px 0px;
  font-size: 12.5px;
  /* font-weight: 650; */
  color: blue;
  -webkit-text-stroke: 0.015em;
}

.task p {
  font-family: "Nunito", sans-serif;
  font-family: "Quicksand", sans-serif;

  margin: 0px 0px 0px 0px;
  font-size: 12.5px;
  font-weight: 650;
  /* color: white; */
}
.type {
  grid-area: type;
  width: 100%;
  width: 100%;
  /* border: 1px solid yellow; */
  /* border: 1px solid black; */
  /* border-bottom: 1px solid lightgray; */

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.type div {
  height: 20px;

  width: 100%;
  border: 1px solid rgb(179, 179, 179);
  border: 1px solid rgb(185, 182, 182);

  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: #2f89fc; */
  font-size: 12.5px;
  background-color: white;
  margin: 0px 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  /* border: 1px solid #4cd7f646; */
  /* border: 1px solid black; */
}
.type p {
  font-family: "Nunito", sans-serif;
  font-family: "Quicksand", sans-serif;

  margin: 0px 0px 0px 0px;
  /* text-decoration: underline; */
  /* font-weight: 600; */
  /* color: slategray; */
  font-size: 12px;
  -webkit-text-stroke: 0.015em;
}
.date {
  grid-area: date;
  width: 100%;
  /* min-width: 200px; */
  /* border: 1px solid blue; */
  /* border-bottom: 1px solid black; */
  /* border-bottom: 1px solid lightgray; */

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.date p {
  margin: 0px 8px 0px 10px;
  font-size: 12px;
  font-family: "Nunito", sans-serif;
  font-family: "Quicksand", sans-serif;

  /* font-family: "Share Tech Mono", monospace; */
  color: #2f89fc;
  color: rgb(2, 2, 2);
  -webkit-text-stroke: 0.015em;

  /* font-weight: 650; */
  letter-spacing: 0.2px;
  white-space: pre;
}
.name {
  grid-area: name;
  width: 100%;
  width: 95%;
  /* border: 1px solid gray; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  white-space: nowrap;
}
.name::-webkit-scrollbar {
  display: none;
}
.name p {
  margin: 10px 10px 0px 10px;
  font-family: "Nunito", sans-serif;
  font-family: "Quicksand", sans-serif;

  font-weight: 650;
  font-size: 14px;
}

.item {
  grid-area: item;
  width: 100%;
  width: 95%;
  /* border: 1px solid cyan; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  white-space: nowrap;
}
.item::-webkit-scrollbar {
  display: none;
}
.item p {
  margin: 0px 10px 0px 10px;
  font-family: "Nunito", sans-serif;
  font-family: "Quicksand", sans-serif;

  color: rgb(53, 52, 52);
  /* font-weight: 600; */
  color: slategrey;
  font-size: 13px;
  /* text-rendering: optimizeLegibility !important; */
  /* -webkit-font-smoothing: antialiased !important; */
  -webkit-text-stroke: 0.02em;
}

@media screen and (max-width: 500px) {
  .recentActivityList {
    width: 100%;
    height: 100%;
    /* border: 1px solid #4CD7F6; */
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  .recentItemContainer {
    width: 99%;
    /* min-width: 280px; */
    /* max-width: 500px; */
    height: 90px;
    /* min-width: 280px; */
    /* min-height: 50px; */
    /* border: 1px solid red; */
    /* background-color: #ffffff; */
    /* border: 1px solid black; */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px; */
    /* margin: 10px 20px 10px 5px; */
    display: grid;
    grid-template-columns: 50px 80px 65px 1fr;
    grid-template-rows: 30px 30px 30px;
    border-radius: 10px;
    grid-template-areas:
      " logo task type date  date"
      " logo name  name name  name"
      " logo item  item item  item";

    /* display:none; */
  }

  .dashboardComponent {
    width: 100%;
    height: 100%;
    height: 99.8%;

    /* border: 1px solid red; */
    /* background-color: #dae5eb; */
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    /* overflow-y: scroll; */
    /* border-radius: 10px 10px 10px 10px; */
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
}

@media screen and (max-width: 450px) {
  .date p {
    margin: 0px 8px 0px 5px;
    font-size: 12px;
    font-family: "Nunito", sans-serif;
    font-family: "Quicksand", sans-serif;

    /* font-family: "Share Tech Mono", monospace; */
    color: #2f89fc;
    color: rgb(2, 2, 2);
    -webkit-text-stroke: 0.015em;

    /* font-weight: 650; */
    letter-spacing: 0.2px;
    white-space: pre;
  }
}
