.dashboardComponent {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 40 60%;
  grid-template-areas:
    "overviewWrapper recentActivitesWrapper"
    "recentlyAddedWrapper recentActivitesWrapper";
}

.overviewWrapper {
  grid-area: overviewWrapper;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.recentActivitesWrapper {
  grid-area: recentActivitesWrapper;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.recentlyAddedWrapper {
  grid-area: recentlyAddedWrapper;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}