@import "../../variable.modules.css";

.dashboardComponent {
  position: relative;
  width: 100%;
  height: 95%;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 40% 60%;
  grid-template-areas:
    "overviewWrapper recentActivitesWrapper"
    "recentlyAddedWrapper recentActivitesWrapper";
  margin-top: 2%;
}

/* _________________________________________________________ */

.overviewWrapper {
  position: relative;
  grid-area: overviewWrapper;
  width: 100%;
  height: 100%;
  /* border: 1px solid orange; */
}

.overviewHeadingContainer {
  position: relative;
  width: 100%;
  height: 20%;
  /* border: 1px solid blue; */
  /* background-color: grey; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.overviewContentContainer {
  position: relative;
  width: 100%;
  height: 80%;
  /* border: 1px solid blue; */
  /* background-color: blue; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 2%;
  margin-top: 0%;

}

.boxContainer {
  width: 25%;
  height: 50%;
  /* border: 1px solid black; */
  border-radius: 15px;
  /* background-color: white; */
  background-color: var(--overview-box-color);
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.iconContainer {
  position: relative;
  width: 50%;
  height: 80%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconDiv1 {
  position: relative;
  /* width: 70%; */
  height: 95%;
  aspect-ratio: 1/1;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #BAFFB4;
}

.iconDiv2 {
  position: relative;
  /* width: 70%; */
  height: 95%;
  aspect-ratio: 1/1;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #A4BDE6;
}

.iconDiv3 {
  position: relative;
  /* width: 70%; */
  height: 95%;
  aspect-ratio: 1/1;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #FCC5C0;
}

.countIcon {
  font-size: 32px;
  color: black;
}

.count_and_Label_Container {
  position: relative;
  width: 40%;
  height: 75%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countDiv {
  position: relative;
  width: 100%;
  height: 70%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.countDiv p {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  font-weight: 600;
  color: black;
  margin: 0px;
  padding: 0px;
}

.labelDiv {
  position: relative;
  width: 100%;
  height: 30%;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0px;
}

.labelDiv p {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: black;
  margin: 0px;
}

/* _________________________________________________________ */

.recentActivitesWrapper {
  position: relative;
  grid-area: recentActivitesWrapper;
  width: 100%;
  height: 100%;
  min-height: 100%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.recentActivitesHeadingContianer {
  position: relative;
  width: 100%;
  height: 10%;
  /* border: 1px solid blue; */
  /* background-color: grey; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}


.recentActivitesContentContianer {
  position: relative;
  width: 100%;
  height: 90%;
  min-height: 90%;
  /* border: 1px solid orangered; */
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
}


.recentlyAddedWrapper {
  position: relative;
  grid-area: recentlyAddedWrapper;
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
}

.recentlyAddedHeadingContainer {
  position: relative;
  width: 100%;
  height: 10%;
  /* border: 1px solid blue; */
  /* background-color: orange; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.recentlyAddedContentContainer {
  position: relative;
  /* width: 100%;
  height: 90%;
  min-height: 90%; */
  width: 100%;
  height: 90%;
  min-height: 90%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

}

.wrapperHeadingDiv {
  position: relative;
  width: 100%;
  height: auto;
  /* border: 1px solid black; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
}

/* .wrapperHeadingDiv::before {
  content: "";
  position: absolute;
  background-color: #C7BAFD;
  width: 13px;
  height: 90%;
  top: 0px;
  left: 0px;
  border-radius: 2px;
  margin-left: 5%;
} */

.wrapperHeadingDiv p {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: black;
  margin: 0px;
  /* margin-left: 6% !important; */

  /* border: 1px solid black; */
}

.wrapperHeadingDiv p::after {
  content: "";
  position: absolute;
  background-color: var(--section-heading-underline);
  width: 40px;
  height: 3px;
  bottom: -8px;
  left: 0px;
  border-radius: 20px;
}

/* __________________________________________________________ */
.dashboardComponent::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0);
  height: 4px;
  width: 5px;
}

.dashboardComponent::-webkit-scrollbar-track {
  background-color: rgb(231, 228, 228);
  background-color: rgba(231, 228, 228, 0.062);

  width: 2px;
}

.dashboardComponent::-webkit-scrollbar-thumb {
  background-color: #2f89fc;
  border-radius: 4px;
}


/* > Phone screen */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .dashboardComponent {
    position: relative;
    width: 100%;
    height: 95%;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 100%;
    /* grid-template-rows: 45% 55% 100%; */
    /* grid-template-rows: 40% 60% 100%; */
    grid-template-rows: 35% 65% 100%;
    grid-template-areas:
      "overviewWrapper"
      "recentActivitesWrapper"
      "recentlyAddedWrapper";
    overflow-y: scroll;
    margin-top: 7%;
    bottom: 0px;
  }

  .overviewWrapper {
    position: relative;
    grid-area: overviewWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
  }

  .overviewHeadingContainer {
    position: relative;
    width: 100%;
    height: 20%;
    /* border: 1px solid blue; */
    /* background-color: grey; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .overviewContentContainer {
    position: relative;
    width: 100%;
    height: 80%;
    /* border: 1px solid orange; */
    /* background-color: blue; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: 0%;
    padding-left: 0%;
    /* display: none; */
  }

  .boxContainer {
    /* width: 35%; */
    /* height: 40%; */

    width: 32%;
    height: 40%;
    /* border: 1px solid black; */
    border-radius: 15px;
    background-color: var(--overview-box-color);
    margin-left: 8%;
    margin-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .iconContainer {
    width: 50%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .iconDiv1 {
    position: relative;
    width: 80%;
    width: 70%;
    height: unset;
    aspect-ratio: 1/1;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #BAFFB4;
  }

  .iconDiv2 {
    position: relative;
    width: 80%;
    width: 70%;

    height: unset;
    aspect-ratio: 1/1;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #A4BDE6;
  }

  .iconDiv3 {
    position: relative;
    width: 80%;
    width: 70%;
    height: unset;
    aspect-ratio: 1/1;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #FCC5C0;
  }

  .countIcon {
    font-size: 30px;
    font-size: 25px;
    color: black;
  }

  .count_and_Label_Container {
    position: relative;
    width: 40%;
    height: 75%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .countDiv {
    position: relative;
    width: 100%;
    height: 70%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .countDiv p {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: var(--count-number-font-color);
    margin: 0px;
    padding: 0px;
  }

  .labelDiv {
    position: relative;
    width: 100%;
    height: 30%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  .labelDiv p {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 12.5px;
    font-weight: 500;
    color: var(--count-label-font-color);
    margin: 0px;
  }

  /* ___________________________________________________________*/
  .recentActivitesWrapper {
    position: relative;
    grid-area: recentActivitesWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid green; */
  }

  .recentActivitesHeadingContianer {
    position: relative;
    width: 100%;
    height: 20%;
    /* border: 1px solid blue; */
    /* background-color: grey; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }


  .recentActivitesContentContianer {
    position: relative;
    width: 100%;
    height: 80% !important;
    min-height: 80%;
    /* border: 1px solid blue; */
    /* background-color: green; */
    position: relative;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* ____________________________________________ */
  .wrapperHeadingDiv {
    position: relative;
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
  }

  .wrapperHeadingDiv p {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: var(--section-heading);
    margin: 0px;
    /* border: 1px solid black; */
  }



  /* __________________________________________________________ */
  .dashboardComponent::-webkit-scrollbar {
    background-color: rgba(176, 32, 32, 0);
    height: 4px;
    width: 3px;
  }

  .dashboardComponent::-webkit-scrollbar-track {
    background-color: rgb(231, 228, 228);
    background-color: rgba(231, 228, 228, 0.062);
    width: 2px;
  }

  .dashboardComponent::-webkit-scrollbar-thumb {
    background-color: #002A9A;
    border-radius: 10px;
  }
}



/* > Ipad potrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {


  .dashboardComponent {
    position: relative;
    width: 100%;
    height: 95%;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-columns: 45% 55%;
    grid-template-rows: 40% 60%;
    grid-template-areas:
      "overviewWrapper overviewWrapper"
      "recentlyAddedWrapper recentActivitesWrapper";
    margin-top: 2%;
  }

  /* _________________________________________________________ */

  .overviewWrapper {
    position: relative;
    grid-area: overviewWrapper;
    width: 99%;
    height: 100%;
    /* border: 1px solid orange; */
  }

  .overviewHeadingContainer {
    position: relative;
    width: 100%;
    height: 20%;
    /* border: 1px solid blue; */
    /* background-color: grey; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .overviewContentContainer {
    position: relative;
    width: 70%;
    height: 70%;
    /* border: 1px solid blsue; */
    /* background-color: blue; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 2%;
    margin-top: 0%;
  }

  .boxContainer {
    width: 35%;
    height: 40%;
    /* border: 1px solid black; */
    border-radius: 20px;
    /* background-color: white; */
    background-color: var(--overview-box-color);
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  .iconContainer {
    position: relative;
    width: 50%;
    height: 80%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .iconDiv1 {
    position: relative;
    /* width: 70%; */
    height: 95%;
    aspect-ratio: 1/1;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #BAFFB4;
  }

  .iconDiv2 {
    position: relative;
    /* width: 70%; */
    height: 95%;
    aspect-ratio: 1/1;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #A4BDE6;
  }

  .iconDiv3 {
    position: relative;
    /* width: 70%; */
    height: 95%;
    aspect-ratio: 1/1;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #FCC5C0;
  }

  .countIcon {
    font-size: 32px;
    color: black;
  }

  .count_and_Label_Container {
    position: relative;
    width: 40%;
    height: 75%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .countDiv {
    position: relative;
    width: 100%;
    height: 70%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .countDiv p {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: black;
    margin: 0px;
    padding: 0px;
  }

  .labelDiv {
    position: relative;
    width: 100%;
    height: 30%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0px;
  }

  .labelDiv p {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: black;
    margin: 0px;
  }

  /* _________________________________________________________ */

  .recentActivitesWrapper {
    position: relative;
    grid-area: recentActivitesWrapper;
    width: 100%;
    height: 100%;
    min-height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }

  .recentActivitesHeadingContianer {
    position: relative;
    width: 100%;
    height: 10%;
    /* border: 1px solid blue; */
    /* background-color: grey; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }


  .recentActivitesContentContianer {
    position: relative;
    width: 100%;
    height: 90%;
    min-height: 90%;
    /* border: 1px solid orangered; */
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
  }


  .recentlyAddedWrapper {
    position: relative;
    grid-area: recentlyAddedWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
  }

  .recentlyAddedHeadingContainer {
    position: relative;
    width: 100%;
    height: 10%;
    /* border: 1px solid blue; */
    /* background-color: orange; */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .recentlyAddedContentContainer {
    position: relative;
    /* width: 100%;
    height: 90%;
    min-height: 90%; */
    width: 100%;
    height: 90%;
    min-height: 90%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

  }

  .wrapperHeadingDiv {
    position: relative;
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
  }

  /* .wrapperHeadingDiv::before {
    content: "";
    position: absolute;
    background-color: #C7BAFD;
    width: 13px;
    height: 90%;
    top: 0px;
    left: 0px;
    border-radius: 2px;
    margin-left: 5%;
  } */

  .wrapperHeadingDiv p {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 23px;
    font-weight: 500;
    color: black;
    margin: 0px;
    /* margin-left: 6% !important; */
    /* border: 1px solid black; */
  }

  .wrapperHeadingDiv p::after {
    content: "";
    position: absolute;
    background-color: var(--section-heading-underline);
    width: 40px;
    height: 3px;
    bottom: -8px;
    left: 0px;
    border-radius: 20px;
  }

  /* __________________________________________________________ */
  .dashboardComponent::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0);
    height: 4px;
    width: 5px;
  }

  .dashboardComponent::-webkit-scrollbar-track {
    background-color: rgb(231, 228, 228);
    background-color: rgba(231, 228, 228, 0.062);

    width: 2px;
  }

  .dashboardComponent::-webkit-scrollbar-thumb {
    background-color: #2f89fc;
    border-radius: 4px;
  }


}