:root {

  --app-bg: linear-gradient(180deg, #DFEDF4 33.14%, #E8F0EC 51.89%, #F7F9F6 76.37%);

  --app-list-heading-font-color: black;
  --app-list-heading-font-line: #002A9A;
  --app-list-count-div-bg: #002A9A;
  --list-count-font-color: white;


  --headerbar-month-font-color: #002A9A;
  --headerbar-date-font-color: black;
  --headerbar-date-wrapper-after-line: #002A9A;
  /* --headerbar-gretting-font-color: #C7BAFD; */
  --headerbar-username-font-color: #002A9A;


  --searchbar-input-false-bg: white;
  --searchbar-input-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --search_input-true-bg: white;
  --search_input-icons: #002A9A;


  --tabbar-wrapper-bg: white;


  /* _DASHBOARD */

  --section-heading: #002A9A;
  --section-heading-underline: #002A9A;



  --overview-box-color: white;
  --count-label-font-color: black;
  --count-number-font-color: black;



  --recent-activities-field-box-bg: white;
  --recent-activity-field-val-font-color: #002A9A;
  --recent-activity-field-before-color: #002A9A;
  --recent-activity-field-changedTo-font-color: black;
  --recent-activity-field--before-after-line-color: black;
  --recent-activity-field-new-val-font-color: #002A9A;

  --activity-field-date-bg: white;
  --activity-field-month-font-color: black;
  --activity-field-date-font-color: #002A9A;
  --activity-field-time-font-color: black;
  --activity-field-type-task-bg: white;
  --type-box-font-color: black;




  --list-wrapper-bg: white;
  --list-wrapper-logo-div-bg: #F3F5F9;
  --list-title-font-color: black;
  --list-wrapper-username-font-color: #7E8DA4;


  --fullCard-wrapper-bg: white;
  --fullCard-field-container-bg: #E8EFFC;
  --fullCard-field-label-font-color: #7E8DA4;
  --fullCard-field-text-font-color: black;
  --fullCard-field-icon--color: #002A9A;
  --fullCard-category-label-font-color: black;


  --doc-wrapper-minimise-bg: white;
  --image-container-bg: #DDEFF3;
  --list-image-title-font-color: black;

  --doc-inputform-wrapper-bg: white;
  --doc-inputform-wrapper-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  --doc-inputform-feild-bg: #E8EFFC;
  --doc-inputform-feild-supported-spantext-font-color: #002A9A;
  --doc-inputform-choose-font-color: black;
  --upload-icon-color: black;
  --file-name-input-caret-color: #002A9A;
  --file-name-input-font-color: black;
  --doc-inputform-wrapper-border: none;


  /* -> All ui fonts divide in two types */
  --ui-scheme-color: #002A9A;
  /* --ui-scheme-color: #9F7EE9; */


  --primary-font-color: black;
  --secondary-font-color: #8B98A5;
  --tertiary-font-color: #837FA2;
  --tertiary-font-color-li: #A8A4C5;


  /*-> All ui div-bg divided into three types */
  --box-bg-primary: white;
  --box-bg-secondary: #F3F5F9;
  --box-bg-secondary-drk: #ADD2FF;
  --box-bg-tertiary: #E7EFFC;
  --box-bg-tertiary-drk: white;




  --logo-div-bg: #F3F5F9;
  --category-box-bg: #A6CBFB;

  /* -> App ui bg */
  --app-main-bg: #151B3B;
  --app-main-bg: #2F3141;
  --app-main-bg: linear-gradient(180deg, #DFEDF4 33.14%, #E8F0EC 51.89%, #F7F9F6 76.37%);
  /* 
background: linear-gradient(179.99deg, #AEC3CE 8.01%, rgba(177, 197, 208, 0.972857) 44.72%, #DDE3E4 141.46%); */
  /* -> form icons color */
  --field-icon-color: #002A9A;

  /* for btn */
  --submit-btn-color: #002A9A;


  /* -> font-weight */
  --bold-font: 400;
  --bolder-font: 500;
  --boldest-font: 600;


  /* -> box shadows */
  --list-wrapper-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --dashboard-countDiv-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --dashboard-activity-field-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --dashboard-activity-date-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --dashboard-activity-task-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --dashboard-activity-type-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --logoComp-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

}

[data-theme="dark"] {
  --app-bg: #27282B;
  --app-list-heading-font-color: white;
  --app-list-heading-font-line: #C7BAFD;
  --app-list-count-div-bg: #C7BAFD;
  --list-count-font-color: black;

  --headerbar-month-font-color: #C7BAFD;
  --headerbar-date-font-color: white;
  /* --headerbar-gretting-font-color: #C7BAFD; */
  --headerbar-username-font-color: #C7BAFD;
  --headerbar-date-wrapper-after-line: #C7BAFD;


  --searchbar-input-false-bg: #1F1E21;
  --searchbar-input-box-shadow: none;
  --search_input-true-bg: #1F1E21;
  --search-input-icons: #C7BAFD;
  --search-input-font-color: #C7BAFD;
  --tabbar-wrapper-bg: #1F1E21;

  /* _DASHBOARD */
  --section-heading: #C7BAFD;
  --section-heading-underline: #C7BAFD;


  --overview-box-color: #1F1E21;
  --count-label-font-color: white;
  --count-number-font-color: white;


  --recent-activities-field-box-bg: #1F1E21;
  --recent-activity-field-label-font-color: white;
  --recent-activity-field-val-font-color: #C7BAFD;
  --recent-activity-field-before-color: #C7BAFD;
  --recent-activity-field-changedTo-font-color: white;
  --recent-activity-field--before-after-line-color: white;
  --recent-activity-field-new-val-font-color: #C7BAFD;



  --activity-field-date-bg: #1F1E21;
  --activity-field-month-font-color: white;
  --activity-field-date-font-color: #C7BAFD;
  --activity-field-time-font-color: white;
  --activity-field-type-task-bg: #1F1E21;
  --type-box-font-color: white;



  --list-wrapper-box-shadow: none;
  --list-wrapper-bg: #1F1E21;
  --list-wrapper-logo-div-bg: #2a2a2b;
  --list-wrapper-title-font-color: white;
  --list-wrapper-username-font-color: #7E8DA4;


  --fullCard-wrapper-bg: #1F1E21;
  --fullCard-field-container-bg: #27282B;
  --fullCard-field-label-font-color: #7E8DA4;
  --fullCard-field-text-font-color: white;
  --fullCard-field-icon--color: #C7BAFD;
  --fullCard-category-label-font-color: white;


  --doc-wrapper-minimise-bg: #1F1E21;
  --image-container-bg: #2a2a2b;
  --doc-list-image-title-font-color: white;




  --doc-inputform-wrapper-bg: #1F1E21;
  --doc-inputform-wrapper-border: 2px solid rgb(71, 71, 71);
  --doc-inputform-wrapper-box-shadow: none;
  --doc-inputform-feild-bg: #27282B;
  --doc-inputform-feild-supported-spantext-font-color: #C7BAFD;
  --doc-inputform-choose-font-color: white;
  --upload-icon-color: white;
  --file-name-input-caret-color: #C7BAFD;
  --file-name-input-font-color: white;



  /* -> All ui fonts divide in two types */
  --ui-scheme-color: #C7BAFD;
  /* --ui-scheme-color: #9F7EE9; */


  --primary-font-color: white;
  --secondary-font-color: #8B98A5;
  --tertiary-font-color: #837FA2;
  --tertiary-font-color-li: #A8A4C5;




  /*-> All ui div-bg divided into three types */

  /* --box-bg-primary: #333A4D; */
  --box-bg-primary: #23262F;

  --box-bg-secondary: #414C68;
  --box-bg-secondary-drk: #4d6090;

  --box-bg-tertiary: #2F343E;
  --box-bg-tertiary-drk: #1C1F2C;


  --logo-div-bg: #D6D6D6;
  --category-box-bg: #1C1F2C;



  /* -> App ui bg */
  --app-main-bg: #151B3B;
  --app-main-bg: #2F3141;
  --app-main-bg: #1C1F2C;
  --app-main-bg: #141416;

  /* -> form icons color */
  --field-icon-color: #5294E2;

  /* for btn */
  --submit-btn-color: #5C8ED5;


  /* -> font-weight */
  --bold-font: 400;
  --bolder-font: 500;
  --boldest-font: 600;

  /* -> box shadows */
  --list-wrapper-box-shadow: none;
  --dashboard-countDiv-box-shadow: none;
  --dashboard-activity-field-shadow: none;
  --dashboard-activity-date-shadow: none;
  --dashboard-activity-task-shadow: none;
  --dashboard-activity-type-shadow: none;
  --logoComp-box-shadow: none;

}