.cardWrapperShrink {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 280px;
    width: 45%;
    height: 75px;
    min-height: 75px;
    border-radius: 15px;
    scroll-behavior: smooth;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    background-color: var(--box-bg-primary);
    margin: 2% 2% 2% 2%;
}

.cardWrapperExpand {
    position: relative;
    margin-top: 20px;
    width: 50%;
    height: 150%;
    min-height: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: var(--box-bg-primary);
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

}

.cardContainerShrink {
    position: relative;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 80px minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "logoWrapper titleWrapper titleWrapper"
        "logoWrapper usernameWrapperShrink usernameWrapperShrink";
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

}



.cardContainerExpand {
    position: relative;
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 15% 15% 25% 25%;
    grid-template-rows: 20% 15% 15% 25% 25%;
    grid-template-rows: 25% 15% 15% 20% 20%;
    grid-row-gap: 2%;
    grid-template-areas:
        "logoWrapper titleWrapper titleWrapper titleWrapper"
        "categoryLabelWrapper categoryLabelWrapper categroryTextWrapper categroryTextWrapper"
        "appWebsiteLabelWrapper appWebsiteLabelWrapper appWebsiteTextWrapper appWebsiteTextWrapper"
        "usernameWrapper usernameWrapper usernameWrapper usernameWrapper"
        "passwordWrapper passwordWrapper passwordWrapper passwordWrapper";
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

    /* border: 1px solid black; */

}

/* ____________________________________ */

.logoWrapper {
    grid-area: logoWrapper;
    width: 100%;
    height: 100%;
    min-height: 100%;
    /* border: 1px solid black; */
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    width: 100%;
    /* height: 100%; */
    border-radius: 10px;
    /* background-color: var(--box-bg-tertiary); */
}

.logoDivShrink {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--box-bg-secondary);
    height: 82%;
    width: 82%;
}

/* ____________________________________ */

.titleWrapper {
    grid-area: titleWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

.titleLabelDiv {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    /* border: 1px solid black; */
    padding-left: 5%;

}

.titleLabelDiv p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--secondary-font-color);
}

.titleTextDiv {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 1px solid black; */
    padding-left: 5%;
}

.titleTextDiv p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-font-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.titleTextDivShrink {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    /* border: 1px solid black; */
    padding-left: 5%;
    padding-right: 5%;

}

.titleTextDivShrink p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-font-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}


/* ____________________________________ */

.categoryLabelWrapper {
    grid-area: categoryLabelWrapper;
    width: 100%;
    height: 80%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--box-bg-tertiary);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}


.categoryLabelDiv {
    width: 1000%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;
}

.categoryLabelDiv p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 600;
    font-weight: 500;
    color: var(--primary-font-color);
}

.categroryTextWrapper {
    grid-area: categroryTextWrapper;
    width: 100%;
    height: 80%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--box-bg-tertiary);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;


}

.categoryTextDiv {
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    background-color: var(--box-bg-secondary);
    border-radius: 5px;

}

.categoryTextDiv p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--ui-scheme-font-color);
}

/* ____________________________________ */

.appWebsiteLabelWrapper {
    grid-area: appWebsiteLabelWrapper;
    width: 100%;
    height: 80%;
    /* border: 1px solid black; */
    background-color: var(--box-bg-tertiary);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.appWebsiteLabelDiv {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;
}

.appWebsiteLabelDiv p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--secondary-font-color);
}

.appWebsiteTextWrapper {
    grid-area: appWebsiteTextWrapper;
    width: 100%;
    height: 80%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--box-bg-tertiary);

    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.appWebsiteTextDiv {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50%;
}

.appWebsiteTextDiv p {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-font-color);
}

/* ___________________________________________ */

.usernameWrapper {
    grid-area: usernameWrapper;
    display: grid;
    height: 80%;
    grid-template-columns: 20% 80%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "usernameIconWrapper usernameLabelWrapper"
        "usernameIconWrapper usernameTextWrapper";
    /* border: 1px solid green; */
    /* background-color: forestgreen; */
    background-color: var(--box-bg-tertiary);
    border-radius: 8px;

}

.usernameWrapperShrink {
    grid-area: usernameWrapperShrink;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas:
        "usernameTextWrapper";
    /* background-color: forestgreen; */
}


.usernameIconWrapper {
    grid-area: usernameIconWrapper;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.usernameLabelWrapper {
    grid-area: usernameLabelWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.usernameLabelWrapper p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--secondary-font-color);
}


.usernameTextWrapper {
    grid-area: usernameTextWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.usernameText {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-font-color);
}

.usernameTextShrink {
    font-family: "Poppins", sans-serif;
    font-size: 11px;
    font-weight: 500;
    color: var(--secondary-font-color);
    margin-left: 5%;
}

/* ____________________________________ */

.passwordWrapper {
    grid-area: passwordWrapper;
    width: 100%;
    height: 80%;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "passwordIconWrapper passwordLabelWrapper"
        "passwordIconWrapper passwordTextWrapper";
    background-color: var(--box-bg-tertiary);
    border-radius: 8px;
}

.passwordIconWrapper {
    grid-area: passwordIconWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.passwordLabelWrapper {
    grid-area: passwordLabelWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.passwordLabelWrapper p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--secondary-font-color);
}


.passwordTextWrapper {
    grid-area: passwordTextWrapper;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}

.passwordTextWrapper p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-font-color);
}

.iconsStyles {
    font-size: 28px !important;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .cardWrapperShrink {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        width: 83%;
        height: 80px !important;
        min-height: 80px;
        border-radius: 15px;
        scroll-behavior: smooth;
        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .cardContainerShrink {
        position: relative;
        width: 100%;
        height: 100%;
        /* border: 1px solid red; */
        display: grid;
        grid-template-columns: 80px minmax(0, 1fr) minmax(0, 1fr);
        grid-template-rows: 50% 50%;
        grid-template-areas:
            "logoWrapper titleWrapper titleWrapper"
            "logoWrapper usernameWrapperShrink usernameWrapperShrink";
        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

    }


    .cardWrapperExpand {
        position: relative;
        margin-top: 20px;
        width: 90%;
        height: 90%;
        min-height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

    }

    .cardContainerExpand {
        position: relative;
        width: 90%;
        height: 90%;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 20% 15% 15% 25% 25%;
        grid-template-rows: 20% 15% 15% 25% 25%;
        grid-template-rows: 25% 15% 15% 20% 20%;
        grid-row-gap: 2%;
        grid-template-areas:
            "logoWrapper titleWrapper titleWrapper titleWrapper"
            "categoryLabelWrapper categoryLabelWrapper categroryTextWrapper categroryTextWrapper"
            "appWebsiteLabelWrapper appWebsiteLabelWrapper appWebsiteTextWrapper appWebsiteTextWrapper"
            "usernameWrapper usernameWrapper usernameWrapper usernameWrapper"
            "passwordWrapper passwordWrapper passwordWrapper passwordWrapper";
        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

        /* border: 1px solid black; */

    }

    /* ____________________________________ */

    .logoWrapper {
        grid-area: logoWrapper;
        width: 100%;
        height: 100%;
        min-height: 100%;
        /* border: 1px solid black; */
        overflow: hidden;
        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logoDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        width: 100%;
        /* height: 100%; */
        border-radius: 10px;
        /* background-color: var(--box-bg-tertiary); */
    }

    .logoDivShrink {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 82%;
        width: 82%;
        border-radius: 10px;
    }

    /* ____________________________________ */

    .titleWrapper {
        grid-area: titleWrapper;
        width: 100%;
        height: 100%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-end;
    }

    .titleLabelDiv {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        /* border: 1px solid black; */
        padding-left: 5%;

    }

    .titleLabelDiv p {
        font-size: 14px;
        font-weight: 500;
    }

    .titleTextDiv {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        /* border: 1px solid black; */
        padding-left: 5%;
    }

    .titleTextDiv p {
        font-size: 14px;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }

    .titleTextDivShrink {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        /* border: 1px solid black; */
        padding-left: 5%;

    }

    .titleTextDivShrink p {
        font-size: 14px;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }


    /* ____________________________________ */

    .categoryLabelWrapper {
        grid-area: categoryLabelWrapper;
        width: 100%;
        height: 80%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }


    .categoryLabelDiv {
        width: 1000%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 10%;
    }

    .categoryLabelDiv p {
        font-size: 16px;
        font-weight: 600;
    }

    .categroryTextWrapper {
        grid-area: categroryTextWrapper;
        width: 100%;
        height: 80%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;


    }

    .categoryTextDiv {
        width: 80%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid black; */
        border-radius: 5px;

    }

    .categoryTextDiv p {
        font-size: 16px;
        font-weight: 500;
    }

    /* ____________________________________ */

    .appWebsiteLabelWrapper {
        grid-area: appWebsiteLabelWrapper;
        width: 100%;
        height: 80%;
        /* border: 1px solid black; */
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    .appWebsiteLabelDiv {
        width: 100%;
        height: 100%;
        /* border: 1px solid red; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 10%;
    }

    .appWebsiteLabelDiv p {
        font-size: 16px;
        font-weight: 500;
    }

    .appWebsiteTextWrapper {
        grid-area: appWebsiteTextWrapper;
        width: 100%;
        height: 80%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;

        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .appWebsiteTextDiv {
        width: 100%;
        height: 100%;
        /* border: 1px solid red; */
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 50%;
    }

    .appWebsiteTextDiv p {
        font-size: 16px;
        font-weight: 500;
    }

    /* ___________________________________________ */

    .usernameWrapper {
        grid-area: usernameWrapper;
        display: grid;
        height: 80%;
        grid-template-columns: 20% 80%;
        grid-template-rows: 50% 50%;
        grid-template-areas:
            "usernameIconWrapper usernameLabelWrapper"
            "usernameIconWrapper usernameTextWrapper";
        /* border: 1px solid green; */
        /* background-color: forestgreen; */
        border-radius: 8px;

    }

    .usernameWrapperShrink {
        grid-area: usernameWrapperShrink;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100%;
        grid-template-areas:
            "usernameTextWrapper";
        /* background-color: forestgreen; */
    }


    .usernameIconWrapper {
        grid-area: usernameIconWrapper;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .usernameLabelWrapper {
        grid-area: usernameLabelWrapper;
        width: 100%;
        height: 100%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }

    .usernameLabelWrapper p {
        font-size: 14px;
        font-weight: 500;
    }


    .usernameTextWrapper {
        grid-area: usernameTextWrapper;
        width: 100%;
        height: 100%;
        /* border: 1px solid black; */
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .usernameText {
        font-size: 14px;
        font-weight: 500;
    }

    .usernameTextShrink {
        font-size: 13px;
        font-weight: 500;
        margin-left: 5%;
    }

    /* ____________________________________ */

    .passwordWrapper {
        grid-area: passwordWrapper;
        width: 100%;
        height: 80%;
        /* border: 1px solid red; */
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 50% 50%;
        grid-template-areas:
            "passwordIconWrapper passwordLabelWrapper"
            "passwordIconWrapper passwordTextWrapper";
        border-radius: 8px;
    }

    .passwordIconWrapper {
        grid-area: passwordIconWrapper;
        width: 100%;
        height: 100%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .passwordLabelWrapper {
        grid-area: passwordLabelWrapper;
        width: 100%;
        height: 100%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .passwordLabelWrapper p {
        font-size: 14px;
        font-weight: 500;
    }


    .passwordTextWrapper {
        grid-area: passwordTextWrapper;
        width: 100%;
        height: 100%;
        /* border: 1px solid black; */
    }

    .passwordTextWrapper p {
        font-size: 14px;
        font-weight: 500;
    }

    .iconsStyles {
        font-size: 28px !important;
    }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    .cardWrapperShrink {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 75px;
        min-height: 75px;
        border-radius: 15px;
        scroll-behavior: smooth;
        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
        margin: 2% 2% 2% 2%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    .cardWrapperExpand {
        position: relative;
        margin-top: 20px;
        width: 90%;
        height: 90%;
        min-height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        padding: unset;
    }

}