@import "../../variable.modules.css";

p {
    font-family: "Poppins", sans-serif;
}

.datePickerWrapper {
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: var(--box-bg-tertiary-drk);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 65% 20%;
    grid-template-areas:
        "displayDateSection"
        "calenderSection"
        "btnSection";
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0%;
    z-index: 999;
    border-radius: 0.4rem;
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}



/* _____________________________________________________________ */

.displayDateSection {
    position: relative;
    grid-area: displayDateSection;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid salmon; */
    padding-left: 8%;
}


.closeIconDiv {
    position: absolute;
    aspect-ratio: 1/1;
    height: 40%;
    border-radius: 50%;
    background-color: #93C2FF;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 2%;
    top: 10%;
}

.closeIcon {
    position: relative;
    font-size: 0.85rem;
    /* border: 1px solid black; */
    color: #002A9A
}

.displayDateDiv {
    width: auto;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.displayDateFont {
    color: var(--primary-font-color);
    font-size: 0.9rem;
    font-weight: var(--boldest-font);
}


.displayDateSelectedDiv {
    background-color: var(--date-picker-displaySelected-date-bg);
    border-radius: 0.3rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    height: auto;
}

.displayDateFontSelected {
    color: var(--ui-scheme-color);
}



/* ------------------------------------------- */

.calenderSection {
    position: relative;
    grid-area: calenderSection;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(35, 35, 35, 0.153);
    border-bottom: 1px solid rgba(35, 35, 35, 0.153);
}

/* ------------------------------------------- */

.btnSection {
    position: relative;
    grid-area: btnSection;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid salmon; */

}

.btnDiv {
    width: 40%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}

.cancelBtnDiv {
    border: 1px solid rgba(35, 35, 35, 0.153);
}

.cancelBtnDiv p {
    color: var(--secondary-font-color);
    font-size: 0.8rem;
    font-weight: var(--bolder-font);
}

.confirmBtnDiv {
    background-color: var(--ui-scheme-color);
}

.confirmBtnDiv p {
    color: var(--listCount-font-color);
    font-size: 0.8rem;
    font-weight: var(--bolder-font);

}